<app-navbar></app-navbar>
<div class="all">
  <div *ngIf="this.error === true || this.status === 401; else elseBlock">
    <div class="alert alert-warning" role="alert">
      {{message}}
    </div>
  </div>

  <ng-template #elseBlock>
    <table class="table">
      <tbody>
        <tr>
          <td><a routerLink="/services/bookings/byyou"><button type="button"
            class="btn btn-success">Your Service Requests</button></a></td>
          <td>
          </td>
        </tr>
      </tbody>
    </table>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Product ID</th>
          <th scope="col">Reqest Date</th>
          <th scope="col">Problem</th>
          <th scope="col">Description</th>
          <th scope="col">Status</th>
          <th scope="col">Update</th>
          <th scope="col">Delete</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let request of serviceReqs; index as i">
          <th scope="row">1</th>
          <td>{{request.ProductId}}</td>
          <td>{{request.ReqDate.slice(0,10)}}</td>
          <td>{{request.Problem}}</td>
          <td>{{request.Description}}</td>
          <td>{{request.Status}}</td>
          <td><a [routerLink]="['/services/booking/update', request.Id]"><button type="button"
                class="btn btn-success">Update</button></a></td>
          <td><button type="button" class="btn btn-danger" (click)="onDelete(request.Id)">
            <div *ngIf="this.isSubmit != true; else elseBlock">Delete</div>
            <ng-template #elseBlock><div class="spinner-border" role="status">
                <span class="visually-hidden">Loading...</span>
              </div>
            </ng-template>  
            </button></td>
        </tr>
      </tbody>
    </table>
  </ng-template>
</div>